<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="VirusTotal" value="8f0fe312b79eb689b5d7cd94ba52ec71d50f9ef96ad7349852662bebec13bbeb"/>
	</appSettings>
	<system.web>
	  <compilation debug="true" targetFramework="4.7.2" />
	  <httpRuntime maxRequestLength="200000000" executionTimeout ="458" targetFramework="4.7.2" />
	  <authorization>
		  <deny users ="?"/>
	  </authorization>

  </system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="200000000"></requestLimits>
			</requestFiltering>
		</security>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>
